<div class="widgets">
  <app-calendar class="month-calendar" [month]="month"
                [currentDay]="dayDate" (prevMonth)="prevMonth()"
                (nextMonth)="nextMonth()" (daySelected)="selectedDay($event)" (today)="onCurrentMonth()"
                (monthView)="goMonthView($event)"></app-calendar>
  <!--<div class="upcoming-deadlines">-->
    <!--deadlines-->
  <!--</div>-->
</div>
<div class="day-plan">
  <app-day-plan [date]="dayDate" (prevDay)="prevDay()" (nextDay)="nextDay()"></app-day-plan>
</div>

