<div class="current-day">
  <div class="day-title">
    <div class="prev-day day-shift-button">
      <button>
        <span> < </span>
      </button>
    </div>
    <div class="day-name">
      {{ day.date | date: 'EEEE, d' }}
    </div>
    <div class="next-day day-shift-button">
      <button>
        <span> > </span>
      </button>
    </div>
  </div>
</div>
<div class="day-plan" tasksConnector [scrollable]="scroll">
  <day-time-range class="time-line" [tasks]="day.tasks"></day-time-range>
  <div class="tasks" #scroll>
    <div class="tasks-nested-container">
      <div class="tasks-nested">
        <day-task *ngFor="let t of day.tasks" [task]="t" class="task-item"></day-task>
      </div>
    </div>
  </div>
</div>
