:host{
  display: block;
  border: thin solid #f4f4f4;
  position: relative;
  background-color: #f9f9f9;
}

.task-container{
  padding: 10px;
  display: flex;
  align-items: stretch;
  z-index: 2;
  position: relative;
}

.task{
  padding-left: 7px;
  flex: 1 1 auto;
}

.task-time{
  flex: 0 0;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
}

.task-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.time-separator{
  padding: 5px 0;
}

.task-title{
  font-size: larger;
}

.task-notes{
  padding-top: 7px;
  font-size: medium;
}

.action-buttons{
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: -1px;
  display: flex;
  flex-flow: column;
  border: thin solid lightgray;
  z-index: 3;
}

.action-button{
  flex: 1 1 auto;
  padding: 5px;
  border-bottom: thin solid lightgray;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  user-select: none;
  cursor: pointer;
  transition: background-color 200ms ease-out;
}

.action-button:last-child{
  border-bottom: none;
}

.action-button:hover{
  background-color: rgba(242, 241, 239, 0.5);
}

.action-button:active{
  background-color: rgb(205, 205, 205);
}

.button-icon{
  height: 20px;
  width: 20px;
}

.task-labels{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.task-label{
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.task-label-title{
  flex: 1 1;
}

.task-label-icon{
  margin-right: 5px;
}

.deadline-icon{
  width: 1em;
  height: 1em;
  margin-right: 0;
  border: thin solid transparent;
}

.project-icon{
  width: 0.7em;
  height: 0.7em;
  border-radius:50%;
  border: thin solid transparent;
}

.repetition-icon{

}

.toggle-notes{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ccc;
}

.toggle-notes span{
  transform: rotate(180deg);
  transition: transform 200ms ease-out;
  cursor: pointer;
}

.toggle-notes span.active{
  transform: rotate(0deg);
}
