:host{
  display: block;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;

}

button {
  padding: 0;
  border: none;
  font-size: 100%;
  font-family: inherit;
  background: none;
  user-select: none;
}

button:focus{
  outline: none;
}

.form-container-outer{
  position: relative;
  height: 100%;
  width: 100%;
}

.form-nested-container{
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.form-container{
  z-index: 10!important;
  padding: 10px;
  border-radius: 5px;
  max-width: 320px;
  min-width: 220px;
  position: absolute;
  background-color: rgba(204,204,204, 0.85);
  width: auto;
  box-shadow: 0 0 10px #cccc;
  transition: width 200ms ease-out, height 200ms ease-out;
}

.task-name{

  border: none;
  background-color: transparent;
  font-size: 100%;
  text-align: center;
  border-bottom: thin solid gray;
  width: 80%;
}

.task-name:focus{
  outline: none;
  border-color:black;
}

.task-notes{
  padding: 7px;
  min-height: 60px;
  max-height: 150px;
  min-width: 200px;
  max-width: 300px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: transparent;
  border-color: gray;
}

.task-notes:focus{
  outline: none;
  border-color: black;
}

.task-options-button{
  align-self: flex-end;
  margin-top: 5px;
  color: gray;
  font-size: small;
  text-decoration: none;
}

.task-options-button:hover{
  text-decoration: underline;
}

.task-options-button:focus{
  text-decoration: underline;
  text-decoration-color: black;
}

.task-options > div{
  margin-top: 5px;
}

.close-form-button{
  color: gray;
  position: absolute;
  top: -14px;
  right: -14px;

}

.form-button{
  text-justify: auto;
  text-align: center;
  transition: transform 200ms ease-out;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: x-large;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button:focus{
  border: thin gray solid;
}

.form-button:hover{
  color: black;
}

.form-button:active{
  transform: scale(0.9);
}

.task-options{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.checkmark-icon{
  width: 24px;
  height: 24px;
}

.create-form-button{
  position: absolute;
  top: -14px;
  left: -14px;
}

.select-button {
  text-decoration: underline;
  color: gray;
  transition: color 200ms ease-out;
}

.select-button:hover {
  color: black
}

.project-selection{
  color: gray;
}

.project-color{
  align-self: flex-start;
}

.project-deadline{
  align-self: flex-start;
}

.project-details{
  width: 100%;
}

.project-details > div {
  margin-top: 5px;
}

.inputError{
  border-color: #ff3128;
}
