
<div class="form-container-outer" #container>
  <div class="form-container" [hidden]="!showForm" #formRef cdkDrag>
    <div class="form-nested-container">
      <ng-container *ngTemplateOutlet="template">
      </ng-container>
      <button class="form-button close-form-button close" aria-label="Close" (click)="closeForm()">
        <div aria-hidden="true" class="close-icon">&times;</div>
      </button>
      <button class="form-button create-form-button create" aria-label="Create" (click)="save()" *ngIf="showSaveButton">
          <img class="checkmark-icon" aria-hidden="true" src="../../../assets/icons/checkmark.svg"/>
      </button>
    </div>
  </div>

</div>


<ng-template #taskFormTemplate>
  <div class="form-nested-container" [formGroup]="taskForm">
    <input class="task-name" [class.inputError]="taskName.invalid && (taskName.dirty || taskName.touched) && taskName.errors.required"
           formControlName="title"
           placeholder="Task name"/>
    <textarea class="task-notes" formControlName="notes" placeholder="Task notes"></textarea>
    <button class="task-options-button" (click)="toggleTaskOptions()">{{taskOptionsLabel}}</button>
    <div class="task-options" *ngIf="showTaskOptions" @optionState>
      <div class="task-project">
        <div class="project-selection" *ngIf="!addProjectToTask">
          <button class="select-button" (click)="selectProject()">select project</button>
        </div>
        <ng-container *ngIf="addProjectToTask">
          <app-project-picker *ngIf="showProjectSelectionForm" formControlName="project" (close)="removeTaskProject()"></app-project-picker>
        </ng-container>
      </div>
      <div class="task-deadline">
        <app-deadline-picker formControlName="deadline"></app-deadline-picker>
      </div>
      <!--<div class="task-repetition">-->
        <!--repetition-->
      <!--</div>-->
    </div>
  </div>
</ng-template>

<ng-template #projectFormTemplate>
  <div class="form-nested-container" [formGroup]="projectForm">
    <input class="task-name"
           formControlName="name" [class.inputError]="projectName.invalid && (projectName.dirty || projectName.touched) && projectName.errors.required"
           placeholder="Project name"/>
    <div class="project-details">
      <div class="project-color" >
        <app-color-picker formControlName="color"></app-color-picker>
      </div>
      <div class="project-deadline">
        <app-deadline-picker formControlName="deadline"></app-deadline-picker>
      </div>
    </div>
    <button class="task-options-button" (click)="toggleProjectOptions()">{{projectOptionsLabel}}</button>
    <div class="task-options" *ngIf="showProjectOptions" @optionState>
      <textarea class="task-notes"
                formControlName="notes"
                placeholder="Project notes"></textarea>
    </div>
  </div>
</ng-template>
