<div class="task-container">
  <div class="task-time">
    <div class="task-begin">
      {{task.begin | date:'h:mm'}}
    </div>

    <svg width="20" height="35"
         xmlns="http://www.w3.org/2000/svg"
         *ngIf="task.end"
         class="time-separator">
      <line x1="10" y1="0" x2="10" y2="35" style="stroke:#ccc;stroke-width:0.5"></line>
    </svg>
    <div class="task-end" *ngIf="task.end">
      {{task.end | date:'h:mm'}}
    </div>

  </div>
  <div class="task">
    <div class="task-header">
      <div class="task-title">
        {{task.title}}
      </div>
      <div class="task-labels">
        labels
      </div>
    </div>
    <div class="task-notes">
      {{task.notes}}
    </div>
  </div>
</div>


<div class="action-buttons" *ngIf="showActionButtons" @taskButtonsState>
  <div class="action-button">
    waiting
  </div>
  <div class="action-button">
    archive
  </div>
  <div class="action-button">
    move
  </div>
</div>
