:host{
}

.svg-container{
  height: 100%;
  width: 100%;
}

#circles{
  display: none;
}

#circles  circle{
  cursor: move;
}

#task-rect:hover #circles{
  display: block;
}
#task-rect:hover #duration{
  display: none;
}

#task-rect:hover #circles{
  display: block;
}
#task-rect:hover #duration{
  display: none;
}
