<div class="month-header">
  <div class="month-header-nested-container">
    <button class="next-month-button" (click)="onPrevMonth()">
      <
    </button>
    <div class="month-label">
      {{month.date | date:'MMMM'}}
      <div class="current-year">
        {{month.date.getFullYear()}}
      </div>
    </div>
    <button class="next-month-button" (click)="onNextMonth()">
      >
    </button>
  </div>
</div>
<div class="week-day-labels">
  <div class="week-day-label" *ngFor="let l of weekDays">
    {{l}}
  </div>
</div>
<div class="month-days">
  <button class="month-day"  [class.weekend]="d.date.getDay() === 0 || d.date.getDay() === 6"
       *ngFor="let d of month.days" (click)="onDaySelected(d.date)">
    <div class="day-number" [class.currentMonth]="d.date.getMonth() === month.date.getMonth()">
     <span *ngIf="d.date.getDate() === 1">
       {{d.date | date:'MMMM'}}
     </span>
      <span [class.current]="d.date.getDate() === today.getDate() && d.date.getMonth() === today.getMonth()">
        {{ d.date | date: 'd' }}
      </span>
    </div>
    <div class="tasks-outer-container">
      <div class="tasks-container">
        <div class="tasks-inner-container">
          <div class="day-task" *ngFor="let t of d.tasks">
            <div class="task-project" *ngIf="t.project" [title]="t.project.name + (t.project.deadline ? '\nDeadline: '+t.project.deadline : '')"
                 [ngStyle]="{'background-color': t.project.color}">

            </div>
            <div class="task-title">
              {{t.title}}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="day-deadlines-container">
        <div class="day-deadline" *ngFor="let dl of d.deadlines" [ngStyle]="{'background-color': dl.project.color}">
        </div>
    </div>
  </button>
</div>
