<div class="project-header">
  <div class="project-label">
    <div class="project-icon" [style.backgroundColor]="project.color ? project.color : 'transparent'" >
    </div>
    <div class="project-name">
      {{project.name}}
    </div>
  </div>
  <div class="project-info">
    <div class="deadline" *ngIf="project.deadline">
      <div class="deadline-icon">
        <img src="../../../../assets/icons/deadline.svg"/>
      </div>
      <!--<div class="deadline-date">-->
        <!--{{project.deadline | date:'dd.MM'}}-->
      <!--</div>-->
    </div>
    <div class="add-task-button">
      <button (click)="addTask($event)">+</button>
    </div>
  </div>
</div>
<div class="project-tasks">
  <div class="tasks-nested-container">
    <day-task *ngFor="let t of project.tasks"
              [task]="t" [showWaitingButton]="false"
              class="task-item"></day-task>
  </div>
</div>
