:host{
  display: block;
  border: thin solid #f4f4f4;
  position: relative;
}

.project-header{
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: thin solid #f4f4f4;
}

.project-label{
  display: flex;
  align-items: center;
}

.project-icon{
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
}

.project-name{

}

.project-info{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.deadline{
  display: flex;
  align-items: flex-end;
}

.deadline-icon{
  width: 0.9em;
  height: 1em;
}

.deadline-date{
  font-size: small;
  color: gray;
}

.add-task-button{
  margin-left: 15px;
  font-size: large;
  display: flex;
  align-items: center;
}

.add-task-button button{
  font-size: 100%;
  font-family: inherit;
  background: none;
  padding: 0;
  outline: 0;
  color: gray;
  border: none;
  transition: transform 200ms ease-out, color 200ms ease-out;
}

.add-task-button button:hover{
  color: black;
}

.add-task-button button:active{
  transform: scale(0.9);
  color: gray;
}

.project-tasks{
  border: thin solid #f4f4f4;
  border-top: none;

  min-height: 200px;
  max-height: 250px;
  overflow: hidden;
  position: relative;
}

.tasks-nested-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.task-item{
  margin: 0 10px 10px 10px;
}

.edit-button {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: gray;
  cursor: pointer;
  transition: color 200ms ease-out, transform 200ms ease-out;
}

.edit-button > img {
  width: 20px;
  height: 20px;
}

:host:hover > .edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button:hover {
  color: black;
}

.edit-button:active {
  transform: scale(0.9);
}
