<div class="task-header">
  <button class="list-title"
          [class.active]="activeTabRef === waitingRef"
          (click)="selectWaitingTab(waitingRef)">
    Waiting
  </button>
  <button class="list-title"
          [class.active]="activeTabRef === projectsRef"
          (click)="selectProjectsTab(projectsRef)">
    Projects
  </button>
  <button class="list-title"
          [class.active]="activeTabRef === archiveRef"
          (click)="selectArchiveTab(archiveRef)">
    Archive
  </button>
</div>
<div class="task-container">
  <ng-container *ngIf="activeTabRef">
    <ng-container *ngTemplateOutlet="activeTabRef; context: ctx"></ng-container>
  </ng-container>
</div>

<ng-template #waitingRef let-list="list">
  <div class="add-task-button-container">
    <button class="add-task-button" (click)="openTaskFrom($event)">
      <span>new task</span>
    </button>
  </div>
  <div class="list-container add-button-offset">
    <div class="list-container-nested">
      <div>
        <day-task *ngFor="let t of (list | async)"
                  [task]="t" [isPlaned]="false"
                  [showWaitingButton]="false"
                  (toArchive)="moveToArchive(t)"
                  (edit)="editTask(t, TaskList.WAITING, $event)"
                  class="list-item"></day-task>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #projectsRef let-list="list">
  <div class="add-task-button-container">
    <button class="add-task-button" (click)="openProjectForm($event)">
      <span>new project</span>
    </button>
  </div>
  <div class="list-container add-button-offset">
    <div class="list-container-nested">
      <div>
        <planning-project *ngFor="let p of (list | async)" [project]="p" class="list-item"></planning-project>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #archiveRef let-list="list">
  <div class="list-container">
    <div class="list-container-nested offset">
      <div>
        <day-task *ngFor="let t of (list | async)" [showArchiveButton]="false"
                  [task]="t" [isPlaned]="false" (edit)="editTask(t, TaskList.WAITING, $event)" (toWaiting)="moveToWaiting(t)"
                  class="list-item"></day-task>
      </div>
    </div>
  </div>
</ng-template>
