<div class="task-header">
  header
</div>
<div class="task-container">
  <div class="add-task-button-container">
    <div class="add-task-button">
      <span>add new task</span>
    </div>
  </div>
  <tasklist-task class="task"></tasklist-task>
  <tasklist-task class="task"></tasklist-task>
  <tasklist-task class="task"></tasklist-task>
</div>
<!--<mat-tab-group >-->
  <!--<mat-tab label="Waiting">-->
    <!--Content 1-->
  <!--</mat-tab>-->
  <!--<mat-tab label="Projects">-->
    <!--Content 2-->
  <!--</mat-tab>-->
  <!--<mat-tab label="Archive">-->
    <!--Content 3-->
  <!--</mat-tab>-->
<!--</mat-tab-group>-->
