:host{
  border: thin solid rgba(236, 236, 236, 0.5);
  box-shadow: -2px -2px 8px rgba(228, 228, 228, 0.5);
  background-color: white;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction:column;
  position: relative;
}

.task-header{
  padding: 10px;
  text-align: center;
  background-color: rgba(239, 239, 239, 0.5);
  font-size: large;
  display: flex;
  justify-content: space-around;
}

.task-container{
  flex: 1 1;
  display: flex;
  flex-direction:column;
}

.task{
  margin: 10px;
}

.add-task-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 5;
}

.add-task-button{
  min-width: 120px;
  max-width: 170px;
  padding: 3px;
  user-select: none;
  display: flex;
  justify-content: center;
  background-color: rgba(242, 241, 239, 0.5);
  /*color: #cccc;*/
  border-radius: 20px;
  cursor: pointer;
  border: thin lightgray solid;
  font-size: 100%;
  font-family: inherit;
  transition: transform 200ms ease-out;
  color: gray;
}

.add-task-button:focus{
  outline: none;
  border: thin   gray solid;
}
.add-task-button:active{
  transform: scale(0.95);
}

.add-task-button:hover{
  box-shadow: 0px 0px 10px #ccc;
  background-color: whitesmoke;
  border: thin #ccc solid;
  /*color: gray;*/
}

.list-title{
  color: #cccccc;
  font-size: 100%;
  font-family: inherit;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 200ms ease-out, color 200ms ease-out;
}


.list-title:hover{
  color: black;
}

.list-title:focus{
  outline: none;
  color: black;
}

.list-title.active{
  color: gray;
  cursor: inherit;
  transform: scale(1.3);
}

.list-title:active{
  /*transform: scale(0.9);*/
}

.list-container{
  position: relative;
  flex: 1 1;
  overflow: hidden;
}

.list-container-nested{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.list-container.add-button-offset > .list-container-nested{
  padding-top: 50px;
}

.offset{
  padding-top: 15px;
}

.list-item{
  margin: 0 15px 15px 15px;
}
